button.load-more {
  display: block;

  padding: 0.8em 1.6em;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  background-color: #4457b2;
  border: transparent;
  border-radius: 5px;
  border-color: #4457b2;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
}

button.load-more:hover,
button.load-more:focus {
  background-color: #14389c;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

.load-more.is-hidden {
  display: none;
}
